---
import { render } from "astro:content";
import { getEntry } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";
import ViewCount from "../../components/ViewCount.astro";
import dayjs from "dayjs";
import TableOfContents from "../../components/TableOfContents.astro";
import Giscus from "../../components/Giscus.astro";

export const prerender = false;

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("/404");
}

const post = await getEntry("blog", slug);

if (!post) {
  return Astro.redirect("/404");
}

const { Content, headings, remarkPluginFrontmatter } = await render(post);

const pubDateFormat = dayjs(post.data.pubDate)
  .format("DD MMM YYYY")
// const lastModified = dayjs(remarkPluginFrontmatter.lastModified)
//   .format("DD MMM YYYY")
---

<BlogPost title={post.data.title}>
  <div slot="header">
    <h1 class="text-5xl font-extrabold mb-5 text-accent">{post.data.title}</h1>
    <div class="flex justify-between text-sm text-dim mb-5">
      <p>{post.data.author} / {pubDateFormat}</p>
      <p>{remarkPluginFrontmatter.minutesRead} &mdash; <ViewCount server:defer postSlug={slug} increment /> Views</p>
    </div>
  </div>
  <Content slot="content"/>
  <TableOfContents {headings} slot="sidebar" />
  <Giscus slot="footer"/>
</BlogPost>
